body {
	background: #eeeeee;
    font-family: tahoma, verdana, sans serif;
}

canvas {
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
}

#controls{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#fsButton{
  font-size: 1.2rem;
  width: 8rem;
}

#copyright{
    color: gray;
    text-align: center;
}