body{
    position: fixed;
    left: 50px;
    background-color: gray;
}

canvas{
    float: left;
    border: ridge blue;
}

.inputs{
    float: left;
    margin-left: 150px;
}

.description{
    display: inline-block;
}